@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.main-dashboard {
    background-color: #F7F7F7;
}

.main-content {
    width: 100% !important;
}

.contentDiv {
    display: flex !important;
}

.contentMargin {
    margin-left: 10px !important;
    width: 100% !important;
}

.title-line {
    display: inline-flex;
    width: 100%;
    justify-content:space-between;
}

.dashboard-title-box {
    display: inline-block;
    margin-right: 0px;
    width: 187px;
    height: 50px;
}

.dashboard-text {
    margin: 0px 0px 0px 0px;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    letter-spacing: 0px;
    color: #707070C4;
    opacity: 1;
}

.date-box {
    margin: 0px 0px 0px 0px;
    width: 481px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #00000029;
    border-radius: 2px;
    opacity: 1;
}

.date-content {
    padding: 12px;
    display: inline-flex;
    width: 100%;
    // justify-content:space-between;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    color: #8B8B8B;
    border: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #00000029;
    opacity: 1;
}

.date-line {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.calendar-icon {
    width: 90%;
    height: auto;
    font-size: 16px;
    justify-content: center;
}

.period-text {
    margin-right: 24px;
}

.date-choose {
    margin-right: 16px;
}

.down-arrow-icon {
    margin-top: 5px;
    background-color: #FFFFFF !important;
    border: none !important;
}

.market-line {
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-right: 16px;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 98%;
    height: 48px;
    background: #37B04C 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    .hint-group {
        display: inline-flex;
        margin-top: 10px;
        // padding: 13px;
    }
    .market-text {
        margin-top: 10px;
        margin-bottom: auto;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        color: #FFFFFF;
    }
    .hint-icon {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .hint-text {
        margin-left: 4px;
        margin-right: 16px;
        text-align: left;
        text-decoration: underline;
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 0px;
        color: #FFFFFF !important;
        opacity: 1;

        .link {
            color: #FFFFFF !important;
        }
    }
    .up-icon {
        margin-top: 3px;
        margin-bottom: 0px;
        color: #FFFFFF;
    }
}

.sales-turnover-group {
    margin-top: 16px;
    width: 276px;
    height: 109px;
    border: 0.5px solid #CDCDCD;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;

    .sales-turnover-title-group {
        display: inline-flex;
        justify-content: space-between;
        width: 88%;
        padding: 16px;

        .sales-turnover-text {
            text-align: left;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16px;
            font-weight: normal;
            letter-spacing: 0px;
            color: #000000DE;
            opacity: 1;
        }
    }

    .sales-turnover-content-group {
        display: inline-flex;
        justify-content: space-between;
        width: 88%;
        padding-left: 16px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 16px;

        .sales-turnover-nominal {
            text-align: left;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 0px;
            color: #000000DE;
            opacity: 1;

            .sales-turnover-detail {
                height: 15px;
                font-size: 12px;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: normal;
                letter-spacing: 0px;
                color: #4D4F5C;
            }
        }
    }
}

.main-group {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 16px;

    .chart-group {
        padding-top: 24px;
        padding-left: 24px;
        padding-bottom: 24px;
        padding-right: 24px;
        margin-right: 24px;
        height: 430px;
        width: 44%;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 6px #0000000A;
        border: 0.5px solid #CDCDCD;
        border-radius: 2px;
        opacity: 1;

        .title-chart-group {
            width: 100%;
            display: inline-flex;
            justify-content: space-between; 
            margin-bottom: 29px;  

            .title {
                text-align: left;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: normal;
                font-size: 20px;
                letter-spacing: 0px;
                color: #4D4F5C;
                opacity: 1;
            }

            .date-group {
                display: inline-flex;

                .date-chart-box {
                    padding-top: 9px;
                    padding-bottom: 8px;
                    padding-right: 11px;
                    padding-left: 11px;
                    width: 107px;
                    height: 15px;
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    box-shadow: 0px 2px 3px #0000000D;
                    border: 1px solid #D7DAE2;
                    border-radius: 2px;
                    opacity: 1;
    
                    .date-chart-text {
                        margin-top: 0px;
                        margin-bottom: 0px;
                        text-align: left;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 12px;
                        letter-spacing: 0px;
                        color: #4D4F5C;
                        opacity: 1;

                        .down-arrow-icon {
                            margin-top: 0px;
                            background-color: #FFFFFF !important;
                            border: none !important;
                        }
                    }
                }
                .dot-icon {
                    margin-left: 16px;
                    margin-top: 8px;
                    color: #4D4F5C;
                }
            }
        }
    }

    .detail-group {
        display: inline-flex;
        justify-content: space-between;
        
        .best-seller-group {
            padding: 16px;
            top: 358px;
            left: 682px;
            width: 275px;
            height: 440px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 2px 6px #0000000A;
            border: 0.5px solid #CACED5;
            border-radius: 2px;
            opacity: 1;

            .title-group {
                width: 100%;
                display: inline-flex;
                justify-content: space-between;   

                .title {
                    text-align: left;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: normal;
                    font-size: 20px;
                    letter-spacing: 0px;
                    color: #4D4F5C;
                    opacity: 1;
                }
                .dot-icon {
                    margin-top: 5px;
                    color: #4D4F5C;
                }
            }

            .first-item-group {
                display: inline-flex;
                margin-top: 16px;
                width: 100%;
                height: 80px;
                background: #FFE7BD 0% 0% no-repeat padding-box;
                border-radius: 4px;
                opacity: 1;

                .detail-product {
                    width: 100%;
                    padding-top: 14px;
                    padding-right: 17px;
                    padding-bottom: 14px;
                    padding-left: 8px;

                    .product-name {
                        text-align: left;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 20px;
                        font-weight: normal;
                        letter-spacing: 0px;
                        color: #000000DE;
                        opacity: 1;
                    }

                    .product-detail {
                        margin-top: 8px;
                        width: 100%;
                        display: inline-flex;
                        justify-content: space-between;
                        text-align: left;
                        font-size: 14px;
                        font-family: 'Source Sans Pro', sans-serif;
                        letter-spacing: 0.25px;
                        color: #00000099;
                        opacity: 1;
                    }
                }
            }

            .list-item-group {
                display: inline-flex;
                margin-top: 8px;
                width: 100%;
                height: 60px;
                background: #dfdfdf 0% 0% no-repeat padding-box;
                border-radius: 4px;
                opacity: 1;

                .detail-product {
                    width: 100%;
                    padding-top: 14px;
                    padding-right: 17px;
                    padding-bottom: 14px;
                    padding-left: 8px;

                    .product-name {
                        text-align: left;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 16px;
                        font-weight: normal;
                        letter-spacing: 0px;
                        color: #000000DE;
                        opacity: 1;
                    }

                    .product-detail {
                        margin-top: 8px;
                        width: 100%;
                        display: inline-flex;
                        justify-content: space-between;
                        text-align: left;
                        font-size: 12px;
                        font-family: 'Source Sans Pro', sans-serif;
                        letter-spacing: 0.25px;
                        color: #00000099;
                        opacity: 1;
                    }
                }
            }
        }

        .top-competitor-group {
            margin-left: 16px;
            padding: 16px;
            top: 358px;
            left: 682px;
            width: 275px;
            height: 440px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 2px 6px #0000000A;
            border: 0.5px solid #CACED5;
            border-radius: 2px;
            opacity: 1;

            .title-group {
                width: 100%;
                display: inline-flex;
                justify-content: space-between;   

                .title {
                    text-align: left;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: normal;
                    font-size: 20px;
                    letter-spacing: 0px;
                    color: #4D4F5C;
                    opacity: 1;
                }
                .dot-icon {
                    margin-top: 5px;
                    color: #4D4F5C;
                }
            }

            .first-item-group {
                display: inline-flex;
                margin-top: 16px;
                width: 100%;
                height: 80px;
                background: #FFE7BD 0% 0% no-repeat padding-box;
                border-radius: 4px;
                opacity: 1;

                .detail-product {
                    width: 100%;
                    padding-top: 14px;
                    padding-right: 17px;
                    padding-bottom: 14px;
                    padding-left: 8px;

                    .product-name {
                        text-align: left;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 20px;
                        font-weight: normal;
                        letter-spacing: 0px;
                        color: #000000DE;
                        opacity: 1;
                    }

                    .product-detail {
                        margin-top: 8px;
                        width: 100%;
                        display: inline-flex;
                        justify-content: space-between;
                        text-align: left;
                        font-size: 14px;
                        font-family: 'Source Sans Pro', sans-serif;
                        letter-spacing: 0.25px;
                        color: #00000099;
                        opacity: 1;
                    }
                }
            }

            .list-item-group {
                display: inline-flex;
                margin-top: 8px;
                width: 100%;
                height: 60px;
                background: #dfdfdf 0% 0% no-repeat padding-box;
                border-radius: 4px;
                opacity: 1;

                .detail-product {
                    width: 100%;
                    padding-top: 14px;
                    padding-right: 17px;
                    padding-bottom: 14px;
                    padding-left: 8px;

                    .product-name {
                        text-align: left;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 16px;
                        font-weight: normal;
                        letter-spacing: 0px;
                        color: #000000DE;
                        opacity: 1;
                    }

                    .product-detail {
                        margin-top: 8px;
                        width: 100%;
                        display: inline-flex;
                        justify-content: space-between;
                        text-align: left;
                        font-size: 12px;
                        font-family: 'Source Sans Pro', sans-serif;
                        letter-spacing: 0.25px;
                        color: #00000099;
                        opacity: 1;
                    }
                }
            }
        }
    }
}